<div class="counter-container">
    <h1>Counter: {{ counter }}</h1>
    <button (click)="decrement()">decrement</button>
    <button (click)="increment()">increment</button>

    <div [ngSwitch]="getCounterStatus ()">
        <p *ngSwitchCase="'Positive'" [ngClass]="'positive'"> The counter is positive.</p>
        <p *ngSwitchCase="'Neutral'" [ngClass]="'neutral'">The counter is Neutral.</p>
        <p *ngSwitchCase="'Negative'" [ngClass]="'negative'">The counter is Negative.</p>
    </div>
</div>